/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/03/2017, 12:44:12 PM
    Author     : Alumnos
*/

/*Selector Etiqueta / nombre del Elemento */   


@import "cssDemo.css";


     input{
         color: red;
         font-size: 20px;
         
         
     }
     
